@model IEnumerable<Model.EF.NGUOIDUNG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TENNGUOIDUNG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MATKHAU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRANGTHAI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDLOAINGUOIDUNG)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TENNGUOIDUNG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MATKHAU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRANGTHAI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDLOAINGUOIDUNG)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDNGUOIDUNG }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDNGUOIDUNG }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDNGUOIDUNG })
        </td>
    </tr>
}

</table>
